In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns',None)
import pymongo
from pymongo import MongoClient

In [2]:
movies=pd.read_csv("tmdb_5000_movies.csv")
credits= pd.read_csv("tmdb_5000_credits.csv")

In [3]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [4]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [5]:
ad=credits.cast.str.strip("[{""}]")

In [6]:
ad.str.split(":")

0       ["cast_id",  242, "character",  "Jake Sully", ...
1       ["cast_id",  4, "character",  "Captain Jack Sp...
2       ["cast_id",  1, "character",  "James Bond", "c...
3       ["cast_id",  2, "character",  "Bruce Wayne / B...
4       ["cast_id",  5, "character",  "John Carter", "...
                              ...
4798    ["cast_id",  1, "character",  "El Mariachi", "...
4799    ["cast_id",  1, "character",  "Buzzy", "credit...
4800    ["cast_id",  8, "character",  "Oliver O\u2019T...
4801    ["cast_id",  3, "character",  "Sam", "credit_i...
4802    ["cast_id",  3, "character",  "Herself", "cred...
Name: cast, Length: 4803, dtype: object

In [7]:
movies_marge=movies.merge(credits,on="title")

In [8]:
movies_marge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 864.2+ KB

In [9]:
 #genres
#id
#keywords
#title
# overview
# cast
#crew
movies_new=movies_marge[["movie_id","title","overview","genres","keywords","cast","crew"]]

In [10]:
movies_new.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [11]:
movies_new.isna().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [12]:
movies_new.dropna(inplace=True)

C:\Users\arup9\AppData\Local\Temp\ipykernel_30724\2197036780.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_new.dropna(inplace=True)

In [13]:
movies_new.duplicated().sum()

0

In [14]:
movies_new.iloc[0].genres.split(",")

['[{"id": 28',
 ' "name": "Action"}',
 ' {"id": 12',
 ' "name": "Adventure"}',
 ' {"id": 14',
 ' "name": "Fantasy"}',
 ' {"id": 878',
 ' "name": "Science Fiction"}]']

In [15]:
import ast
ast.literal_eval(movies_new.iloc[0].genres)

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [16]:
def convert(obj):
    L=[]
    for i in ast.literal_eval(obj):
        L.append(i["name"])
    return L

In [17]:
convert(movies_new.iloc[0].genres)

['Action', 'Adventure', 'Fantasy', 'Science Fiction']

In [18]:
movies_new.genres=movies_new.genres.apply(convert)

C:\Users\arup9\AppData\Local\Temp\ipykernel_30724\3650806745.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_new.genres=movies_new.genres.apply(convert)

In [19]:
movies_new["keywords"]=movies_new["keywords"].apply(convert)

C:\Users\arup9\AppData\Local\Temp\ipykernel_30724\3947644317.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_new["keywords"]=movies_new["keywords"].apply(convert)

In [20]:
movies_new.head(3)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."

In [21]:
ast.literal_eval(movies_new.cast[0])[:3][0].get("name")

'Sam Worthington'

In [22]:
def con(obj):
    L=[]
    for i in ast.literal_eval(obj)[:3]:
        L.append(i["name"])
    return L

In [23]:
movies_new.cast=movies_new.cast.apply(con)

C:\Users\arup9\AppData\Local\Temp\ipykernel_30724\30379439.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_new.cast=movies_new.cast.apply(con)

In [24]:
movies_new.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [25]:
def condition(obj):
    for i in ast.literal_eval(obj):
        if i["job"] == 'Director':
            return i["name"]

In [26]:
movies_new.crew=movies_new.crew.apply(condition)

C:\Users\arup9\AppData\Local\Temp\ipykernel_30724\3623866695.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_new.crew=movies_new.crew.apply(condition)

In [27]:
movies_new.head(3)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",James Cameron
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",Gore Verbinski
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",Sam Mendes

In [28]:
movies_new['genres']=movies_new['genres'].apply(lambda x:[i.replace(" ","") for i in x])
movies_new['keywords']=movies_new['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movies_new['cast']=movies_new['cast'].apply(lambda x:[i.replace(" ","") for i in x])
#movies_new['crew']=movies_new['crew'].apply(lambda x:[i.replace(" ","") for i in list(x)])

C:\Users\arup9\AppData\Local\Temp\ipykernel_30724\601240733.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_new['genres']=movies_new['genres'].apply(lambda x:[i.replace(" ","") for i in x])
C:\Users\arup9\AppData\Local\Temp\ipykernel_30724\601240733.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_new['keywords']=movies_new['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
C:\Users\arup9\AppData\Local\Temp\ipykernel_30724\601240733.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_new['cast']=movies_new['cast'].apply(lambda x:[i.replace(" ","") for i in x])

In [29]:
movies_new.dropna(inplace=True)

C:\Users\arup9\AppData\Local\Temp\ipykernel_30724\2197036780.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_new.dropna(inplace=True)

In [30]:
movies_new.overview=movies_new.overview.apply(lambda x: [x])

C:\Users\arup9\AppData\Local\Temp\ipykernel_30724\533473335.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_new.overview=movies_new.overview.apply(lambda x: [x])

In [31]:
movies_new.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In the 22nd century, a paraplegic Marine is d...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",James Cameron
1,285,Pirates of the Caribbean: At World's End,"[Captain Barbossa, long believed to be dead, h...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",Gore Verbinski
2,206647,Spectre,[A cryptic message from Bond’s past sends him ...,"[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",Sam Mendes
3,49026,The Dark Knight Rises,[Following the death of District Attorney Harv...,"[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",Christopher Nolan
4,49529,John Carter,"[John Carter is a war-weary, former military c...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",Andrew Stanton

In [32]:
movies_new['crew']=movies_new['crew'].apply(lambda x:[x.replace(" ","")])

C:\Users\arup9\AppData\Local\Temp\ipykernel_30724\1324848286.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_new['crew']=movies_new['crew'].apply(lambda x:[x.replace(" ","")])

In [33]:
movies_new["tags"] = movies_new.overview+movies_new.genres+movies_new.keywords+movies_new.cast+movies_new.crew

C:\Users\arup9\AppData\Local\Temp\ipykernel_30724\2084709552.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_new["tags"] = movies_new.overview+movies_new.genres+movies_new.keywords+movies_new.cast+movies_new.crew

In [34]:
movies_new

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In the 22nd century, a paraplegic Marine is d...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In the 22nd century, a paraplegic Marine is d..."
1,285,Pirates of the Caribbean: At World's End,"[Captain Barbossa, long believed to be dead, h...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Captain Barbossa, long believed to be dead, h..."
2,206647,Spectre,[A cryptic message from Bond’s past sends him ...,"[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],[A cryptic message from Bond’s past sends him ...
3,49026,The Dark Knight Rises,[Following the death of District Attorney Harv...,"[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],[Following the death of District Attorney Harv...
4,49529,John Carter,"[John Carter is a war-weary, former military c...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"[John Carter is a war-weary, former military c..."
...,...,...,...,...,...,...,...,...
4804,9367,El Mariachi,[El Mariachi just wants to play his guitar and...,"[Action, Crime, Thriller]","[unitedstates–mexicobarrier, legs, arms, paper...","[CarlosGallardo, JaimedeHoyos, PeterMarquardt]",[RobertRodriguez],[El Mariachi just wants to play his guitar and...
4805,72766,Newlyweds,[A newlywed couple's honeymoon is upended by t...,"[Comedy, Romance]",[],"[EdwardBurns, KerryBishé, MarshaDietlein]",[EdwardBurns],[A newlywed couple's honeymoon is upended by t...
4806,231617,"Signed, Sealed, Delivered","[""Signed, Sealed, Delivered"" introduces a dedi...","[Comedy, Drama, Romance, TVMovie]","[date, loveatfirstsight, narration, investigat...","[EricMabius, KristinBooth, CrystalLowe]",[ScottSmith],"[""Signed, Sealed, Delivered"" introduces a dedi..."
4807,126186,Shanghai Calling,[When ambitious New York attorney Sam is sent ...,[],[],"[DanielHenney, ElizaCoupe, BillPaxton]",[DanielHsia],[When ambitious New York attorney Sam is sent ...
4808,25975,My Date with Drew,[Ever since the second grade when he first saw...,[Documentary],"[obsession, camcorder, crush, dreamgirl]","[DrewBarrymore, BrianHerzlinger, CoreyFeldman]",[BrianHerzlinger],[Ever since the second grade when he first saw...

In [35]:
movies_new.columns

Index(['movie_id', 'title', 'overview', 'genres', 'keywords', 'cast', 'crew',
       'tags'],
      dtype='object')

In [36]:
new_df

NameError: name 'new_df' is not defined

In [37]:
new_df=movies_new[["movie_id","title","tags"]]

In [38]:
new_df.tags=new_df.tags.apply(lambda x: " ".join(x))

C:\Users\arup9\AppData\Local\Temp\ipykernel_30724\550462208.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.tags=new_df.tags.apply(lambda x: " ".join(x))

In [39]:
new_df.tags[0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d SamWorthington ZoeSaldana SigourneyWeaver JamesCameron'

In [40]:
new_df.tags=new_df.tags.apply(lambda x: x.lower())

C:\Users\arup9\AppData\Local\Temp\ipykernel_30724\3656849624.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.tags=new_df.tags.apply(lambda x: x.lower())

In [41]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words="english")

In [42]:
vectors=cv.fit_transform(new_df.tags).toarray()

In [43]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [44]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vectors)

In [45]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

In [46]:
import nltk

In [47]:
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [48]:
def stem(text):
    y=[]
    for i in text.split():
         y.append(ps.stem(i))
            
    return " ".join(y)

In [49]:
new_df.tags=new_df.tags.apply(stem)

C:\Users\arup9\AppData\Local\Temp\ipykernel_30724\2095909238.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.tags=new_df.tags.apply(stem)

In [50]:
new_df.tags[0]

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d samworthington zoesaldana sigourneyweav jamescameron'

In [51]:
cv.get_feature_names_out()[:100]

array(['000', '007', '10', '100', '11', '12', '13', '14', '15', '16',
       '17', '17th', '18', '18th', '18thcentury', '19', '1930s', '1940s',
       '1950s', '1960s', '1970s', '1980', '1980s', '1985', '1990s',
       '1999', '19th', '19thcentury', '20', '200', '2003', '2009', '20th',
       '24', '25', '30', '300', '3d', '40', '50', '500', '60', '60s',
       'aaron', 'aaroneckhart', 'abandoned', 'abducted', 'abigailbreslin',
       'abilities', 'ability', 'able', 'aboard', 'abuse', 'abusive',
       'academic', 'academy', 'accept', 'accepted', 'accepts', 'access',
       'accident', 'accidental', 'accidentally', 'accompanied',
       'accomplish', 'account', 'accountant', 'accused', 'ace', 'achieve',
       'act', 'acting', 'action', 'actionhero', 'actions', 'activist',
       'activities', 'activity', 'actor', 'actors', 'actress', 'acts',
       'actual', 'actually', 'adam', 'adams', 'adamsandler',
       'adamshankman', 'adaptation', 'adapted', 'addict', 'addicted',
       'addiction', 'adolescence', 'adolescent', 'adopt', 'adopted',
       'adoption', 'adopts', 'adrienbrody'], dtype=object)

In [52]:
new_df=new_df.reset_index().drop("index",axis=1)

In [53]:
def recomended(movie):
    movie_index=new_df[new_df.title == movie].index[0]
    distance=similarity[movie_index]
    movie_list= sorted(list(enumerate(distance)),reverse=True,key= lambda x: x[1])[1:6]
    for i in movie_list:
        print(new_df.iloc[i[0]].title)

In [54]:
recomended("Batman")

Batman
Batman & Robin
The Dark Knight Rises
Batman Begins
Batman Returns

In [55]:
similarity[1]

array([0.08858079, 1.        , 0.06451613, ..., 0.02677398, 0.        ,
       0.        ])

In [56]:

   new_df[new_df.title== "Batman"].index[0]

1362

In [57]:
sorted(list(enumerate(similarity[0])),reverse=True,key= lambda x: x[1])[1:6]

[(539, 0.2537477434955704),
 (1194, 0.25112360116696136),
 (507, 0.24384310418681),
 (1216, 0.24127175179050325),
 (260, 0.24012009007506568)]

In [58]:
i=(539, 0.2537477434955704)
i[0]

539

In [59]:
new_df

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a parapleg marin is dispa..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believ to be dead, ha c..."
2,206647,Spectre,a cryptic messag from bond’ past send him on a...
3,49026,The Dark Knight Rises,follow the death of district attorney harvey d...
4,49529,John Carter,"john carter is a war-weary, former militari ca..."
...,...,...,...
4771,9367,El Mariachi,el mariachi just want to play hi guitar and ca...
4772,72766,Newlyweds,a newlyw couple' honeymoon is upend by the arr...
4773,231617,"Signed, Sealed, Delivered","""signed, sealed, delivered"" introduc a dedic q..."
4774,126186,Shanghai Calling,when ambiti new york attorney sam is sent to s...
4775,25975,My Date with Drew,ever sinc the second grade when he first saw h...

In [60]:
import pickle

In [61]:
pickle.dump(new_df.to_dict(),open('movie_dict.pkl','wb'))

In [62]:
pickle.dump(similarity,open("similarity.pkl","wb"))

In [63]:
names=["ard","kun","raj"]
posters=["ard1","kun1","raj1"]
for i in range(0,3):
    if "col"+str(i)=="col1":
        print(names[i])
        print(posters[i])

kun
kun1

In [75]:
Dict_movie=new_df.to_dict("records")

In [70]:
claster = MongoClient("mongodb+srv://arup92327:Arup0070@cluster0.e9r83iz.mongodb.net/?retryWrites=true&w=majority")

In [71]:
claster.list_database_names()

['ZomatoDB', 'admin', 'local']

In [73]:
db=claster["Movie_DataBase"]

In [74]:
coll=db["Movie_data"]

In [76]:
coll.insert_many(Dict_movie)

In [79]:
li=[]
for i in coll.find({},{"_id":0}):
    li.append(i)

In [81]:
df=pd.DataFrame(li)